@page "/runs"
@using DataModels.WorkModels.DTOs.RunDTOs
@using System.Xml.XPath
@using Blazorise.States

@if ( Runs != null )
{
    <h5 class="bg-primary text-white text-center p-2">Runs (WebAssembly)</h5>

    <Accordion>
        @{
            int i = 0;

            foreach ( var item in Runs )
            {
                int index = i;

                <Collapse @key=" item " Visible="@Collapsible[ index ]">
                    <CollapseHeader>
                        <Heading>

                            <Button Clicked="@(() => Collapsible[ index ] = !Collapsible[ index ] )">
                                Run Id: @item.Number
                            </Button>
                        </Heading>
                    </CollapseHeader>
                    <CollapseBody>
                        <DataGrid TItem="Shop"
                                  Data="GetShops( item.RunId )"
                                  Editable
                                  Responsive>
                            <DataGridColumn Field="@nameof( Shop.Name )" Caption="Name" Editable/>
                            <DataGridColumn Field="@nameof( Shop.City )" Caption="City" Editable/>
                            <DataGridColumn Field="@nameof( Shop.PostCode)" Caption="PostCode" Editable/>
                            <DataGridColumn Field="@nameof( Shop.Notes)" Caption="Notes" Editable/>
                            <DataGridCommandColumn>
                                <NewCommandTemplate>
                                    <Button Color="Color.Success" Clicked="context.Clicked ">New</Button>
                                </NewCommandTemplate>
                                <EditCommandTemplate>
                                    <Button Color="Color.Primary" Clicked="context.Clicked ">Edit</Button>
                                </EditCommandTemplate>
                            </DataGridCommandColumn>
                        </DataGrid>
                    </CollapseBody>
                </Collapse>

                i = i + 1;
            }
        }
    </Accordion>
} else
{
    <p>LOADING...</p>
}

<NavLink class="btn btn-primary" href="forms/create">Create</NavLink>